html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

body {
    color: #333;
    font-size: 16px;
    font-family: sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 15vh;
    background: #f8f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

nav {
    max-width: 900px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 2rem;
    font-weight: normal;
}

.logo span {
    font-weight: bold;
}

.navbar-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 35%;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.quantity {
    font-size: 1rem;
}

.total {
    font-size: 1.25rem;
    font-weight: bold;
}

button {
    border: none;
    padding: 0 2rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #7b56a0;
    border-radius: 0.75rem;
    cursor: pointer;
    outline: none;
    color: white;
    font: inherit;
    transition: 0.5s;
}

button:hover {
    color: #7b56a0;
    background: white;
}

.clean-btn {
    max-width: 8rem;
}

main {
    margin-top: 15vh;
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f7f7;
    z-index: 1;
}

main section {
    max-width: 900px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-bottom: 3rem;
    margin-top: 3rem;
}

.card {
    background: white;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    border-radius: 0.75rem;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.card img {
    width: 50%;
    object-fit: cover;
}

.card h1 {
    font-size: 1.5rem;
}

footer {
    min-height: 20vh;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ebebeb;
}

ul {
    max-width: 900px;
    width: 90%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-inline-start: unset;
}

li {
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    background: white;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    padding: 2rem;
    border-radius: .75rem;
}

.remove-btn {
    border: 3px solid #7b56a0;
    background: transparent;
    color: #7b56a0;
    font-weight: bold;
}

.remove-btn:hover {
    color: white;
    background: #7b56a0;
}

@media(max-width: 800px) {
    main section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 520px) {
    main section {
        grid-template-columns: repeat(1, 1fr);
    }
    .quantity {
        font-size: 0.5rem;
    }
    .total {
        font-size: 1rem;
    }
    .navbar-actions {
        min-width: 60%;
    }
    .course-name {
        font-size: 1rem;
    }
    .course-price {
        font-size: .75rem;
    }
    .remove-btn {
        font-size: 0.75rem;
    }
}